<!doctype html>
<html lang="en">
{{>head_puzzle}}
<title>Welcome</title>
<body>
{{>nav_puzzle}}

<p>Rules:</p>
<ul>
  <li>You can use Google unless a puzzle specifically forbids it.</li>
  <li>Each person should only have one account.</li>
  <li>
    If you are reading this, that means that you actually take the time to be informed. So, a hint! <br/>
    You should check the source code for every website, since it regularly has nice information.
  </li>
  <li>Every password is always lowercase.</li>
</ul>

<!-- The answer is two -->

{{>password}}
</body>
</html>
