<!doctype html>
<html lang="en">
{{>head_puzzle}}
<title>Deletion</title>
<body>
{{>nav_puzzle}}

<p>
  C	H	I	Y	C	A	I<br/>
  N	H	E	E	H	D	Y<br/>
  B	R	A	Z	I	L	O<br/>
  U	T	R	D	L	O	G<br/>
  E	T	M	T	E	O	T<br/>
  G	R	E	E	C	E	H<br/>
  E	N	N	E	X	T	L<br/>
  E	V	I	E	L	N	B<br/>
  O	Y	A	N	I	H	C<br/>
  C	T	Y	A	P	I	A<br/>
  A	N	P	G	I	N	N<br/>
  N	S	U	D	A	N	A<br/>
  O	M	A	N	N	E	D<br/>
  M	X	T	L	V	L	A<br/>
</p>
<!-- Remove 11 -->

{{>password}}
</body>
</html>
