<!doctype html>
<html lang="en">
{{>head_puzzle}}
<title>Dokushin Kagiru</title>
<body>
{{>nav_puzzle}}

<table>
  <tr><td>a</td><td> </td><td> </td> <td> </td></tr>
  <tr><td> </td><td>c</td><td> </td> <td> </td></tr>
  <tr><td> </td><td> </td><td>c</td> <td> </td></tr>
  <tr><td> </td><td>d</td><td> </td> <td>b</td></tr>
</table>
<br />
<!-- The WHOLE thing, row by row -->

{{>password}}
</body>
</html>
