<!doctype html>
<html lang="en">
{{>head_puzzle}}
<title></title>
<body>
{{>nav_puzzle}}

<p>789 -> 3</p>
<p>155 -> 0</p>
<p>766 -> 2</p>
<p>001 -> 2</p>
<p>101 -> 1</p>
<p>666 -> 3</p>
<p>777 -> 0</p>
<p>321 -> 0</p>
<p>988 -> 5</p>
<p>123 -> 0</p>
<p>88988989988988 -> 23</p>
<p>8168993671268 -> ?</p>

<!-- Enter your answer as a word, not a number -->

{{>password}}
</body>
</html>
