<!doctype html>
<html lang="en">
{{>head_puzzle}}
<title>eight kinds of people</title>
<body>
{{>nav_puzzle}}

<p>142 171 172 141 156 164 151 165 155 40</p>
<p>143 157 156 163 164 141 156 164 151 156 157 160 154 145</p>
<!-- What comes next? -->

{{>password}}
</body>
</html>
