<!doctype html>
<html lang="en">
{{>head_puzzle}}
<title>two things</title>
<body>
{{>nav_puzzle}}

<p>UIE GZVRFZRVBR S MDITGOHVH</p>
<!-- This is a confusing one, perhaps. -->
<!-- You have to do a couple things -->
<!-- First thing... -->
<!-- A train cannot run on 3 rails, but sometimes you can use a fence to fix that. -->
<!-- Second thing... -->
<!-- /watch?v=eswQl-hcvU0 -->

{{>password}}
</body>
</html>
