<!doctype html>
<html lang="en">
{{>head_puzzle}}
<title>an old favorite</title>
<body>
{{>nav_puzzle}}

<p>XRGSEXFWHVWMIX</p>

<!-- Billy Joel and Scott Joplin -->
<!-- We don't like articles. -->

<!-- Any resemblance to real words in the encrypted puzzle are purely coincidence. -->

{{>password}}
</body>
</html>
