<!doctype html>
<html lang="en">
{{>head_puzzle}}
<title>lteters</title>
<body>
{{>nav_puzzle}}

<p>
  A B C D E D <br />
  F G H L I J <br />
  K L M O N O <br />
  O L P Q R S <br />
  T U O V G W <br />
  F X S Y Z A <br />
</p>

<!-- I am well aware of the fact that all passwords are only ONE WORD LONG -->

{{>password}}
</body>
</html>
