<!doctype html>
<html lang="en">
{{>head_puzzle}}
<title>the need...for speed</title>

<body>
{{>nav_puzzle}}

<p>
  A-37 <br/>
  EF-111 <br/>
  A-6 <br/>
  F-16 <br/>
  F-105
</p>

{{>password}}
</body>
</html>
