<!doctype html>
<html lang="en">
{{>head_puzzle}}
<title>end of the line</title>
<body>
{{>nav_puzzle}}

<p>
  Nothing here yet.
</p>

<!-- I'm not lying. There's no puzzle here yet. Check back later and there might be one. -->

{{>password}}
</body>
</html>
