<!doctype html>
<html lang="en">
{{>head_puzzle}}
<title>What is this?</title>
<body>
{{>nav_puzzle}}

<p>
  Not sure what to do for this puzzle...
</p>
<!--That's a lie. So, you think you're so good at hacking, huh?
  Well, you got this far, so here's an easy one. Who am I?-->
<img src="/images/2.png" style="display: none;"/>

{{>password}}
</body>
</html>
