<!doctype html>
<html lang="en">
{{>head_puzzle}}
<title>missing</title>
<body>
{{>nav_puzzle}}

<p>
  bumblebee <br/>
  chopped <br/>
  overslept <br/>
  red herring <br/>
  choked <br/>
  hanged <br/>
  stay <br/>
  big bear <br/>
  frizzled <br/>
  stay <br/>
</p>

<!-- last name only, please (lowercase) -->

{{>password}}
</body>
</html>
