<!doctype html>
<html lang="en">
{{>head_puzzle}}
<title>who?</title>
<body>
{{>nav_puzzle}}

<p>
  C F B_ E_ G D C a D C A F B_ c F C B_ D
</p>

<!-- last name only -->

{{>password}}
</body>
</html>
