<!doctype html>
<html lang="en">
{{>head_puzzle}}
<title>the 25th puzzle</title>
<body>
{{>nav_puzzle}}

<p>
  2 23 07	  JS
  <br/>
  12 30 15	QT
  <br/>
  3 9 01	  JH
  <br/>
  8 7 15	  JT
  <br/>
  2 26 16	  JH
  <br/>
  9 2 11	  GLG
  <br/>
  12 17 14	PJ
  <br/>
  10 1 99	  DOR
  <br/>
  10 22 93	KR
  <br/>
  5 9 97	  LB
  <br/>
  1 5 90	  OS
  <br/>
  7 19 02	  KB
  <br/>
  4 29 11	  JL
  <br/>
  6 24 70	  MN
  <br/>
  1 22 16	  JB
  <br/>
  3 6 51	  HH
</p>

<!-- last name only -->

{{>password}}
</body>
</html>
