<!doctype html>
<html lang="en">
{{>head_puzzle}}
<title>Research Time?</title>
<body>
{{>nav_puzzle}}

<p>
  go rkfo pyexn bomybnc yp k zbytomd exnobdkuox wkxi iokbc kqy li tobbi zyebxovvo.
  <br/>
  go myevn zydoxdskvvi drbyg vkbqo wodkv bync nygx kd okbdr pbyw czkmo, kxn kxxsrsvkdo yltomdc.
  <br/>
  expybdexkdovi, go coow dy rkfo pybqyddox dro xkwo yp dro zbytomd sdcovp...
</p>
<!-- The die is cast. -->
<!-- 16 -->

{{>password}}
</body>
</html>
