<!doctype html>
<html lang="en">
{{>head_puzzle}}
<title>^</title>
<body>
{{>nav_puzzle}}

<p>
  Some more cryptography...basic encryption. This puzzle is hard. <br/>
  I might add/remove hints based on my interpretation of how people are doing. Keep checking back. <br/>
</p>
<p>
  1110011110011000011000011001111110101010011000000000110
</p>
<!-- Python accepts binary if you use 0b before the number -->
<!-- bin(): converts decimal to binary -->
<!-- Sometimes you have to add a leading 0 in order to make a number have a length divisible by 8 -->
<!-- 1101001010101010010101011101110010101010101110101 -->
<!-- What does ^ do in, e.g. Python -->
<!-- password is not a number -->

{{>password}}
</body>
</html>
