<!doctype html>
<html lang="en">
{{>head_puzzle}}
<title>Riddles</title>
<body>
{{>nav_puzzle}}
<p>
  You can feed it, but you can't touch it.
  <br>
  It can hurt you, but you can't punch it.
</p>

{{>password}}
</body>
</html>
