<!doctype html>
<html lang="en">
{{>head_puzzle}}
<title>can't add letters</title>
<body>
{{>nav_puzzle}}

<p>
  &nbsp; H A E P
  <br>
  + C L T A
  <br>
  ----------
  <br>
  C L E A R
</p>
<!-- What is clear? -->
<!-- No two letters are the same (obviously) -->

{{>password}}
</body>
</html>
