<!doctype html>
<html lang="en">
{{>head_puzzle}}
<body>
{{>nav_puzzle}}

<p>
  Just because you make a compass, doesn't mean you're always safe. A saw can't keep you alive, because falling can kill a man.
  Fortunately for you, you didn't fall all the way. <br />
  ...and a partridge in a pear tree.
</p>
<!-- It's a person, but he may or may not be real/alive -->
<!-- This will be legendary -->

{{>password}}
</body>
</html>
