<!doctype html>
<html lang="en">
{{>head_puzzle}}
<title>Flip-flop</title>
<body>
{{>nav_puzzle}}

<p>
  cillnon tegusytgbr barmaha
</p>
<!-- Now find the second word of it -->

{{>password}}
</body>
</html>
