{{#if showPassword}}
  <form action="/puzzle/{{level.level}}" method="post">
    <input type="text" name="password" class="form-control">
    <button type="submit" value="Submit" class="btn-submit">Submit</button>
  </form>
  {{#if params.failed}}<p class="text-error">Incorrect password.</p>{{/if}}
{{/if}}
