<!doctype html>
<html lang="en">
<head>
  {{>head}}
  <title>AVP 42 : Home</title>
</head>
<body>
{{>navbar}}
<div class="info">
  <h1>AVP 42</h1>
  <h2>A puzzle</h2>
  <p>
    The puzzle is a work in progress. You can try it right now, though. When it's done there will be &mdash; you guessed it, 42 levels!
    If you would like to help out with it, check out the <a href="//github.com/avp/avp42">GitHub</a> page, and send me a message at
    <a href="mailto:help@avp42.com">help@avp42.com</a>
  </p>
  <p>
    You should <a href="/register">register</a>, and then you can play the puzzle.
  </p>
  <h3>Need help?</h3>
  <p>
    Collaboration amongst yourselves is encouraged.
  </p>

  <br/>
  <h2>Scoreboard - Max Level: {{maxLevel}}</h2>

  <table class="scoreboard">
    <thead>
    <tr>
      <th>&nbsp;</th>
      <th class="text-left">Username</th>
      <th>Level</th>
    </tr>
    </thead>
    <tbody>
    {{#each users}}
      <tr>
        <td class="text-right">{{plusOne @index}}</td>
        <td>{{username}}</td>
        <td>{{level}}</td>
      </tr>
    {{/each}}
    </tbody>
  </table>
</div>
</body>
</html>
