<!doctype html>
<html lang="en">
<head>
  {{>head}}

  <meta name="description" content="A puzzle website, with puzzles spanning many categories. Topics include cryptography, scavenger hunts, research, pop culture, etc.">

  <title>AVP 42 - A Puzzle Website</title>
</head>
<body>
{{>navbar}}
<div class="info">
  <h1>AVP 42</h1>
  <h2>A puzzle</h2>
  <p>
    The puzzle is a work in progress. You can try it right now, though. When it's done there will be &mdash; you guessed it, 42 levels!
  </p>
  <p>
    You should <a href="/register">register</a>, and then you can play the puzzle.
  </p>
  <h3>Need help?</h3>
  <p>
    There's a Hacker News thread <a href="//news.ycombinator.com/item?id=8018764">here</a>.
    Collaboration amongst yourselves is encouraged.
  </p>

  <br/>
  <h2>Scoreboard - Max Level: {{maxLevel}}</h2>

  <table class="scoreboard">
    <thead>
    <tr>
      <th>&nbsp;</th>
      <th class="text-left">Username</th>
      <th>Level</th>
    </tr>
    </thead>
    <tbody>
    {{#each users}}
      <tr>
        <td class="text-right">{{plusOne @index}}</td>
        <td>{{username}}</td>
        <td>{{level}}</td>
      </tr>
    {{/each}}
    </tbody>
  </table>
</div>
</body>
</html>
