doctype html
html(lang="en")
  head
    title=Login
  body
    h1 Login
    form(method="post", action="/login")
      input(type="text", name="username", placeholder="Username")
      input(type="password", name="password", placeholder="Password")
      input(type="submit", value="Submit")
