<!doctype html>
<html lang="en">
<head>
  {{>head}}
  <title>Login</title>
</head>
<body>
{{>navbar}}

<h1>Login</h1>

<form action="/login" method="post">
  <label for="username">Username</label>
  <input class="form-control" id="username" type="text" name="username"> <br/> <br/>
  <label for="password">Password</label>
  <input class="form-control" id="password" type="password" name="password"> <br/> <br/>
  <input class="btn-submit" type="submit" value="Submit">
</form>
<p>
  No account? <a href="/register">Make an account.</a>
</p>
</body>
</html>
